body {
  background: url(https://cdn.glitch.com/a009fd82-2b7f-4bbb-b304-a7d702e8acaa%2FBackground.jpg?v=1610236371506) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	position: absolute;
	left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #fff;
  font-weight: 500;
  font-family: Poppins , sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 210px;
}

#input-configure {
    padding: 10px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    border: 0;
}

.AlignContent {
  text-align: center;
  padding-top: 20px;
}

.button-style {
  padding: 15px;
  width: 190px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  background-color: #619fb588;
  box-shadow: #36363680 0px 7px 15px;
  border: 0;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}

.button-style:hover {
    box-shadow: #36363680 0px 7px 7px;
    transition: 0.5s;
    background-color: #619fb5a6;
}

@media screen and (max-width: 380px) {
  .title_page {
    font-size: 40px;
  }
}

@media screen and (max-width: 330px) {
  .title_page {
    font-size: 35px;
  }
  
  #input-configure {
    width: 245px;
  }
}